pywinauto~=0.6.8
overlay_arrows_and_more==0.5.0
keyboard
mouse
pyperclip
setuptools
pytest
pywin32
Pillow
enum34
cachetools
thefuzz
openpyxl~=3.1.2
selenium~=4.16.0
pywinauto_recorder
future~=0.18.3
usaddress~=0.5.10